
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Signal Control Dashboard</title>
      <link rel="icon" type="image/x-icon" href="/static/assets/atom-icon.png">
      <script type="module" crossorigin src="/static/assets/index-DmyimGv-.js"></script>
      <link rel="stylesheet" crossorigin href="/static/assets/index-o0AVkmPw.css">
    </head>

    <body>
      <div id="root"></div>
    </body>
  </html>
  